<a href="https://colab.research.google.com/github/murchin/Endtests/blob/main/9_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('sample_data/california_housing_train.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [62]:
df[['population','median_house_value']]

       population  median_house_value
0          1015.0             66900.0
1          1129.0             80100.0
2           333.0             85700.0
3           515.0             73400.0
4           624.0             65500.0
...           ...                 ...
16995       907.0            111400.0
16996      1194.0             79000.0
16997      1244.0            103600.0
16998      1298.0             85800.0
16999       806.0             94600.0

[17000 rows x 2 columns]

In [63]:
df[(df['population'] < 500)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0
...,...,...,...,...,...,...,...,...,...
16944,-124.14,40.67,23.0,580.0,117.0,320.0,109.0,4.2054,130600.0
16951,-124.15,40.81,50.0,340.0,74.0,235.0,83.0,1.7500,67500.0
16969,-124.17,40.80,52.0,661.0,316.0,392.0,244.0,0.9570,60000.0
16982,-124.18,40.62,35.0,952.0,178.0,480.0,179.0,3.0536,107000.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0

In [68]:
df[(df['population'] < 500)]['median_house_value'].mean()

206683.83635227982

In [70]:
print(df['population'].min())

3.0

In [71]:
print(df['population'].min(),df['households'].max())

3.0 6082.0